pyrogai[azureml,local,dbr,vertex] @ git+https://github.com/procter-gamble/de-cf-pyrogai@v1.5.1
azure-storage-blob==12.13.0
databricks-cli==0.17.6
google-cloud-bigquery>2.27.0,<=2.34.4
google-cloud-secret-manager==2.16.1
google-cloud-storage>=1.44.0
